body{
  margin: 0;
  padding: 0;
}

#container-banner{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

img{
  position:absolute;
}

.frame{
  position: relative;
}

#cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fade-out{
  opacity: 0;
}